[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "dotbot-pip"]
	path = dotbot-pip
	url = https://github.com/sobolevn/dotbot-pip.git
